body {
    font-family: "DM Sans", sans-serif;
}

.admin-dropdown {
    display: flex;
    justify-content: center;
    width: auto;
}

.admin-dropdown li {
    list-style-type: none;
    margin: 20px;
}

.admin-dropdown ul {
    height: auto;
    background-color: #efebeb;
    border-radius: 30px;
}

.admin-dropdown ul a{
    text-decoration: none;
    color: #000000;
}

.admin-dropdown li a{
    display: flex;
    flex-direction: row;
}

.admin-dropdown-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99b1e5;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 650;
    text-decoration: none;
    width: 180px;
    height: 60px;
    border-radius: 35px;
}