.loan-title {
    padding: 2rem;
}

.loan-item a {
    text-decoration: none;
    color: inherit;
}

.loan-item a:hover {
    text-decoration: underline;
}

.loan-section {
    display: flex;
    justify-content: space-between;
}

.loan-item {
    display: flex;
    align-items: center;
    background-color: #f7f1f1;
    margin: 2vh 4vw;
    padding: 2vh 4vw;
    border-radius: 4rem;
    width: 60vw;
}

.loan-cover {
    background-color: aqua;
    width: 180px;
    height: auto;
    margin-right: 25px;
}

.loan-cover img {
    width: auto;
    height: auto;
}

@media screen and (max-width: 815px){
    .loan-section {
        display: block;
    }
}